@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ecf1f3;
}

.warna-bg {
  background-color: #ecf1f3;
}

html {
  scroll-behavior: smooth;
}

.navbar-burger:hover {
  background-color: transparent;
}

::selection{
  color: #fff;
  background: #128c7e;
}

.kotak {
    transition: margin-top 0.3s ease,
    margin-left 0.3s ease,
    box-shadow 0.3s ease;
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.8);*/
    border-radius: 0.375rem;
    /* box-shadow: 1px 0px 0px rgba(0,0,0,0.8),0px 1px 0px rgba(0,0,0,0.8),
    2px 1px 0px rgba(0,0,0,0.8),1px 2px 0px rgba(0,0,0,0.8),
    3px 2px 0px rgba(0,0,0,0.8),2px 3px 0px rgba(0,0,0,0.8),
    4px 3px 0px rgba(0,0,0,0.8),3px 4px 0px rgba(0,0,0,0.8),
    5px 4px 0px rgba(0,0,0,0.8),4px 5px 0px rgba(0,0,0,0.8),
    6px 5px 0px rgba(0,0,0,0.8),5px 6px 0px rgba(0,0,0,0.8),
    7px 6px 0px rgba(0,0,0,0.8),6px 7px 0px rgba(0,0,0,0.8),
    8px 7px 0px rgba(0,0,0,0.8),7px 8px 0px rgba(0,0,0,0.8),
    9px 8px 0px rgba(0,0,0,0.8),8px 9px 0px rgba(0,0,0,0.8); */
    box-shadow: 0.4rem 0.4rem 0 #222;
    padding: 10px;
    border: 1px solid black;
}

.kotak:hover{
    transition: margin-top 0.3s ease;
    margin-left 0.3s ease,
    box-shadow 0.3s ease;

    margin-left:5px;
    margin-top:5px;

    box-shadow: 0.2rem 0.2rem 0 #222;
}

button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
